<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Project Management System </a>

                </div>
            </div>
        </nav>
    </header>

    <!-- mainsite -->

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/add-project" class="border-shadow">
                    <span class="text-gradient">ADD PROJECT <i class="fas fa-folder-plus"></i> </span>
                </a>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Repository</th>
                            <th>Web url</th>
                            <th>State</th>
                            <th>Issues</th>
                            <th>Action</th>

                    </thead>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22/2/2020</td>
                        <td>some </td>
                        <td><a href="https://github.com">llink</a></td>
                        <td><a href="https://github.com"></a></td>
                        <td>dep</td>
                        <td>2</td>
                        <td>
                            <a href="#" class="btn border-shadow update">
                                <span class="text gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>

                            <a class="btn border-shadow update">
                                <span class="text gradient"><i class="fas fa-times"></i></span>
                            </a>

                        </td>
                    </tr>

                </table>
            </form>

        </div>
    </main>
</body>

</html>