<tr>
    <td>1</td>
    <td>22/2/2020</td>
    <td>some </td>
    <td>https://github.com</td>
    <td>https://github.com</td>
    <td>dep</td>
    <td>2</td>
    <td>
        <a href="/update_project" class="btn border-shadow update">
            <span class="text gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>

        <a class="btn border-shadow update">
            <span class="text gradient"><i class="fas fa-times"></i></span>
        </a>

    </td>
</tr>